.c{ 
  text-align: center;
  }
   html { height: 100%; 
}       
img {
  display: inline-block;
  height: auto;
    max-width: 100%;}
.index {
   background-image: url(../image/fon_index.jpg);
   background-position: center center;      
   background-repeat: no-repeat;      
   background-attachment: fixed;      
   background-size: cover;      
   background-color: black;
        } 
.page {
   background-image: url(../image/luxfon.com_10122.jpg);
   background-position: center center;      
   background-repeat: no-repeat;      
   background-attachment: fixed;      
   background-size: cover;      
   background-color: black;
        } 
.episodes {
   background-image: url(../image/Episodes.jpg);
   background-position: center center;      
   background-repeat: no-repeat;      
   background-attachment: fixed;      
   background-size: cover;      
   background-color: black;
     }
.li {
   list-style: upper-roman;
    color: #e9b538;
    }
.noneli {
    list-style: none;
    color: #e9b538;
   }
.logo {
  margin-left: 43%;
  margin-top: 2%;
  position: relative;
    width: 70%;
    height: 100%;
      }
.menu {
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 36%;
}
.Yoda {
    list-style-image: url(../image/Yoda1.png);
    font-size: 30px;
    margin-left: 30px;
    }
.Obi {
    list-style-image: url(../image/Obi1.png);
    font-size: 30px;
    margin-left: 25px;
     }
.Luke {
    list-style-image: url(../image/Luke.png);
    font-size: 30px;
    margin-left: 25px;
     }
.Darth {
    list-style-image: url(../image/Darth.png);
    font-size: 30px;
    margin-left: 15px;
     }
.Pal {
    list-style-image: url(../image/Pal.png);
    font-size: 30px;
    margin-left: 25px;
     }
.Kailo {
    list-style-image: url(../image/Kailo.png);
    font-size: 30px;
    margin-left: 25px;
     }
.form {
    background-color: black; 
    color: #e9b538; 
    font-weight: : bold;
    font-variant: small-caps;
    font-style: italic;
    font-size: 30px;
   }

    a {
    color: #e9b538;
   }
   a:visited {
    color: red; 
   } 
   a:active {
    color: green;  
   } 
   p,legend,label,h1,div{
    color: #e9b538;
    font-size: large;
     }
p{
    background: rgba(0, 0, 0, 0.7)
}
.h2{
    text-align: left;
    color: #e9b538;
    font-size: 50px;
    font-weight: 700;
}
   h1 {
    text-align: center;
    color: #e9b538;
    font-size: 50px;
    font-weight: 900;
      }
   img[alt] {
    width="50%";
    height="60%";
    border-radius: 20px;
   }
   li {
    list-style: none;
    color: #e9b538;
   }
   ul{
    font-weight: : bold;
   }
.mobile{
    display: none;
}
@media (min-width: 1px) and (max-width: 380px){
.mobile{
        display:block
         }
.main-img{
    display: none;
}
}

.text{
    display: none;
}
@media (min-width: 1px) and (max-width: 560px){
.text{
        display:block;
         }
}

@media (min-width: 1px) and (max-width: 320px){
    .logo, .menu  {
  margin-left: 12%;
  margin-top: 2%;
  position: relative;
    width: 70%;
    height: 100%;
      }
}

 
    
 
